<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ postTitle }} | Chess Masters Club Forum</title>
    <meta name="author" content="Aneesh Neelam (11BCE0260)"/>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/foundation/css/foundation.css"/>
    <script type="text/javascript" src="/foundation/js/vendor/modernizr.js"></script>
</head>
<body>
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Chess Masters Club</a></h1>
        </li>
    </ul>
</nav>
<div class="row">
    <div class="row">
        <h2> {{ postTitle }} </h2>
    </div>
    <div class="row">
        <div class="row large-12 column">
            <h4>By {{ postAuthor }}</h4>
        </div>
        <div class="row large-12 column">
            <h5> At {{ timestamp }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="row large-12 columns">
            <h3>Post Content: </h3>
        </div>
        <div class="large-12 columns">
            <p>{{ postContent }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <h2>Comments</h2>
    </div>
    <ul class="row">
        <div class="large-12 columns">
            {% for item in postComments %}
            <li><label>{{ item.comment }}<br>by {{ item.author }}<br>at {{ item.timestamp }}</label></li>
            {% endfor %}
        </div>
    </ul>
</div>
<div class="row" style="text-align: center">
    <h2>New Comment</h2>
</div>

<form action="/post" method="post">
    <div class="row">
        <div class="large-12 columns">
            <label>Comment Author
                <input type="text" name="author" placeholder="Comment Author"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Comment
                <textarea style="resize: none" name="comment" placeholder="Comment"></textarea>
            </label>
        </div>
    </div>
    <input type="text" name="id" value="{{ postID }}" style="visibility: collapse">

    <div class="row" style="text-align: center">
        <input type="submit" class="button" value="Post">
    </div>
</form>
</body>
</html>